# magnesium core overrides

CONFIG_RPMSG_ROCKCHIP_TEST=N

CONFIG_CAN=y
CONFIG_CANFD_RK3576=y

# Wireless networking support
CONFIG_WIRELESS=y
CONFIG_CFG80211=m
CONFIG_CFG80211_WEXT=y
CONFIG_MAC80211=m
CONFIG_RFKILL=y

# Bluetooth support
CONFIG_BT=m
CONFIG_BT_RFCOMM=m
CONFIG_BT_BNEP=m
CONFIG_BT_HIDP=m
